.pricing {
  text-align: center;
  h3 {
    font-size: em(32);
    color: $white;
    padding-top: 20px;
  }
  ul {
    list-style: none;
  }
}
.flavour {
  i {
    font-size: 4em;
    color: $denim;
  }
}

.blogview {
  a {
    color: $denim;

    &:hover {
      color: $sail;
    }
  }
}

.bloglist {
  min-height: 450px;
  background: $denim;
  color: white;
  padding: 20px;

  &:nth-child(even) {
    background: $gold;
  }

  h3{
    color: white;
  }
}