.pricing {
  text-align: center;
  h3 {
    font-size: em(32);
    color: $white;
    padding-top: 20px;
  }
  ul {
    list-style: none;
  }
}
.flavour {
  i {
    font-size: 4em;
    color: $denim;
  }
}