.boxPadding {
  padding: 20px;
}

.parallaxTitle {
  font-size: em(60);
  text-align: center;
  padding: 120px;
  color: $white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.globalMargin {
  margin-top: 75px;
}
.grow {
  &:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}