// Social Colors
$twitter: #59ADEC;
$facebook: #3A5795;
$googlePlus: #D53E38;
$linkedIn: #007ABE;

//Flags Colors
$darkgreen: #2A9F3E;
$green: #56EC6F;
$amber: #E8973D;
$red: #D53E38;

// Dark's and Highlights
$arsenic: #3C454B;
$hoki: #647884;
$gullGray: #9AABB2;
$baliHai: #87A2AE;
$jungleMist: #BACCD6;
$casper: #A5BDCB;
$lobLolly: #B7B7B7;
$patternsBlue: #D8E4EB;
$blackSqueeze: #F3F8FA;
$whiteLilac: #FAFBFD;
$white: #ffffff;
$translucentWhite: rgba(255, 255, 255, 0.1);

//Site brand colours
$matisse: #FF7175;
$denim: #8e44ad;
$sail: #A5ACAF;
$gold: #8e44ad;