// Font import
@import url('https://fonts.googleapis.com/css?family=Anton|Lato:300');
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// Body font set
body {
  font-family: 'Lato', sans-serif;
  color: $denim;
  font-weight: 300;
  font-size: 18px;
}

// Headings base styles
h1, h2, h3, h4, h5 ,h6 {
  @include fontStyles(bold, $denim, inherit);
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

//Headings font size
h1, .h1 {
  font-size: em(32);
}
h2, .h2 {
  font-size: em(24);
}
h3, .h3 {
  font-size: em(18);
}
h4, .h4 {
  font-size: em(16);
}
h5, .h5 {
  font-size: em(13);
}
h6, .h6 {
  font-size: em(11);
}
// Colored Play Buttons
.fa-green-flag {
  color: $green;
  font-size: em(32);
  text-align: center;
}
.fa-red-flag {
  color: $red;
  font-size: em(32);
  text-align: center;
}
.fa-amber-flag {
  color: $amber;
  font-size: em(32);
  text-align: center;
}

// Hyper Links
a {
  color: $denim;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}
.fourzero {
h1 {
  font-size: em(75);
}
}

.timer {
 font-size: 5em;
  color: #69BE28;
  font-family: 'Oswald', sans-serif;
}
