.boxPadding {
  padding: 20px;
}

.parallaxTitle {
  font-size: em(60);
  text-align: center;
  padding: 120px;
  color: $white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.globalMargin {
  margin-top: 75px;
}

.videoMain {
  width: 100%;
  height: 100%;
}