.globalPadding {
  padding: 20px;
}

//Pricing tables
.title {
  display: block;
  font-size: 30px;
  margin:15px 0 10px;
  padding: 0;
  text-align: center;
}
.sub-title {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #111;
  margin-bottom: 30px;
  font-size: 14px;
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: $gold;
  color: white;
  font-size: 25px;
}
.bg-green{
  background-color:$denim !important;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.panel-default > .panel-heading {
  color: $white;
  background-color: $matisse;
  border-color: $matisse;
}
.panel-default {
  border-color: $white;
}