.navbar-default {
  background-color: $whiteLilac;
  border-color: $hoki;
  border-bottom: 5px solid $hoki;
}
.navbar-default .navbar-nav > li > a {
  color: $hoki;
}
.navbar-default .navbar-brand {
  color: $matisse;
  &:hover {
    color: $hoki;
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $matisse;
  background-color: transparent;
}

